<!-- Occasions LP - 201306 Update -->



<% content_for :title_addition do %>Rent Dresses & Accessories for any Occasion | <% end %>
<% content_for :meta_description do %>Rent the Runway | Your one stop shop to rent a dress and accessories. Rent dresses, gowns & accessories for black tie events, dinner parties, a birthday bash or any occasion!<% end %>
<% content_for :meta_keywords do %>womens dresses, rent a dress, rent a designer dress, womens accessories, womens jewelry, rent dresses, rent for an occasion<% end %>


<!-- NOTE: cannot have radial gradients extend past 900px otherwise the 100% width will not blend smoothly -->
<div id="occasionsLP_hero-banner">
	
	<div class="page-block-Occasions-Hero">
	

    	<!-- SIDEBAR NAVIGATION -->
        <div class="sideNav-block" class="dropShadowCenter">
            <span class="sidebarNavHead1">SUMMER 2013</span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/4thjuly">4th of July</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/graduation">Graduation</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/summer2013lookbook">Summer Lookbook</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/beachvacation">Beach Vacation</a></span>
           

            <span class="sidebarNavHead1">LET'S CELEBRATE</span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/birthdaybash">Birthday Bash</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/blacktieevent">Black Tie Event</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/careermoment">Career Moment</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/cocktailparty0">Cocktail Party</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/campuscouture">College Events</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/date">Date Night</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/dinnerparty">Dinner Party</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/girlsnightout">Girls' Night Out</a></span>

            <span class="sidebarNavHead1">WEDDINGS & MORE</span>
            <span class="sidebarNavHead2">The Main Event</span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/blacktieaffair">Black Tie</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/cocktailattire">Cocktail</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/daytimechic">Daytime</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/destinationwedding">Destination</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/bride">For the Bride</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/motherbride0">Mother of the Bride</a></span>

            <span class="sidebarNavHead2">Parties</span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/bridalshower0">Bridal Shower</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/bacheloretteparty">Bachelorette Party</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/engagementparty">Engagement Party</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/rehearsaldinner">Rehearsal Dinner</a></span>
            <span class="sidebarNavLinkTxt"><a href="http://www.renttherunway.com/all/occasions/weddingbrunch">Wedding Brunch</a></span>
        </div>


         <!-- FEATURE TEXT INSIDE BANNER -->
        <div class="featureTxtWrapper">
            <span class="featureTxtHead1">SUMMER 2013</span>
            <span class="featureTxtHead2">FOLLOW THE SUN</span>
            <span class="featureTxtBar"></span>
            <span class="featureTxtBody">
            	Whether you're celebrating poolside,<br />
				heading to the beach or attending a wedding,<br />
				we know just what you should wear
            </span>
        </div>


    </div><!-- end of page block -->
</div><!-- end of hero-banner -->


<div class="page-block-Occasions">

    <!-- BODY CONTENT -->
    <div class="bodyContentWrapper">
		<a href="http://www.renttherunway.com/summer2013lookbook">
			<!-- ######### BUCKET 1 ######### -->
			<div class="occasion-bucket-wrapper">
				<!-- bucket 1 image -->
				<img src="//cdn.rtrcdn.com/sites/default/files/occasions/bucket1.jpg" />
				<!-- bucket 1 title and description -->
				<div class="bucket-descrip-wrapper">
					<span class="bucket-descrip-title">SUMMER LOVE</span>
					<span class="bucket-descrip-divider"></span>
					<span class="bucket-descrip-txt">What's on our must list? Beautifully bold hues and dramatic hemlines</span>
				</div>
			</div>
		</a>
		<a href="http://www.renttherunway.com/all/occasions/beachvacation">
			<!-- ######### BUCKET 2 ######### -->
			<div class="occasion-bucket-wrapper">
				<!-- bucket 2 image -->
				<img src="//cdn.rtrcdn.com/sites/default/files/occasions/bucket2.jpg" />
				<!-- bucket 2 title and description -->
				<div class="bucket-descrip-wrapper">
					<span class="bucket-descrip-title">BEACH VACATION</span>
					<span class="bucket-descrip-divider"></span>
					<span class="bucket-descrip-txt">Packing will be oh–so–easy—just<br/>follow our lead</span>
				</div>
			</div>
		</a>
		<a href="http://www.renttherunway.com/all/occasions/bacheloretteparty">
			<!-- ######### BUCKET 3 ######### -->
			<div class="occasion-bucket-wrapper">
				<!-- bucket 3 image -->
				<img src="//cdn.rtrcdn.com/sites/default/files/occasions/bucket3.jpg" />
				<!-- bucket 3 title and description -->
				<div class="bucket-descrip-wrapper">
					<span class="bucket-descrip-title">BACHELORETTE PARTY</span>
					<span class="bucket-descrip-divider"></span>
					<span class="bucket-descrip-txt">Good times call for equally<br/> good dresses (& more)</span>
				</div>
			</div>
		</a>
		<a href="http://www.renttherunway.com/all/occasions/bride">
			<!-- ######### BUCKET 4 ######### -->
			<div class="occasion-bucket-wrapper">
				<!-- bucket 4 image -->
				<img src="//cdn.rtrcdn.com/sites/default/files/occasions/bucket4.jpg" />
				<!-- bucket 4 title and description -->
				<div class="bucket-descrip-wrapper">
					<span class="bucket-descrip-title">FOR THE BRIDE</span>
					<span class="bucket-descrip-divider"></span>
					<span class="bucket-descrip-txt">Stylist‐approved picks for the<br/> big day and beyond</span>
				</div>
			</div>
		</a>
		<a href="http://www.renttherunway.com/all/occasions/date">
			<!-- ######### BUCKET 5 ######### -->
			<div class="occasion-bucket-wrapper">
				<!-- bucket 5 image -->
				<img src="//cdn.rtrcdn.com/sites/default/files/occasions/bucket5.jpg" />
				<!-- bucket 5 title and description -->
				<div class="bucket-descrip-wrapper">
					<span class="bucket-descrip-title">IT'S A DATE</span>
					<span class="bucket-descrip-divider"></span>
					<span class="bucket-descrip-txt">Go ahead, say yes<br/> (we'll help you find the perfect dress)</span>
				</div>
			</div>
		</a>
		<a href="http://www.renttherunway.com/all/occasions/destinationwedding">
			<!-- ######### BUCKET 6 ######### -->
			<div class="occasion-bucket-wrapper">
				<!-- bucket 6 image -->
				<img src="//cdn.rtrcdn.com/sites/default/files/occasions/bucket6.jpg" />
				<!-- bucket 6 title and description -->
				<div class="bucket-descrip-wrapper">
					<span class="bucket-descrip-title">DESTINATION WEDDING</span>
					<span class="bucket-descrip-divider"></span>
					<span class="bucket-descrip-txt">After you book the tickets celebrate their union in the perfect dress</span>
				</div>
			</div>
		</a>
	</div><!-- end of bodyContentWrapper -->

</div><!-- end of page block -->
