<!-- ShowroomLP 2013 -->




<% content_for :title_addition do %>Showroom - Rent Women's Dresses & Accessories | <% end %>
<% content_for :meta_description do %>Showroom - Rent party gowns & accessories online for every occasion. Designer evening dresses & bags are available in our showroom at affordable prices.<% end %>
<% content_for :meta_keywords do %>rent a dress, designer dresses, lastest fashion, jewelry rental, prom dress, cocktail dress, corporate event attire<% end %>



<div class="page-block-Showroom" style="min-height: 1185px;">

   <div id="hero_wrapper">
   		<img src="//cdn.rtrcdn.com/sites/default/files/images/showroom/showroomLP_2013-hero1.jpg" style="display: block;" />
   		
   		<!-- START: Make An Appointment Info Block -->
   		<div id="hero_inner_block">
   			<div class="hero_txt_wrapper">
   				<span class="hero_bodytxt_italic">Find the perfect fit</span><span class="hero_bodytxt">and take the guesswork out of designer rentals.</span>
   				<span class="hero_bodytxt_italic">Shop like a celebrity</span><span class="hero_bodytxt">with one-on-one attention from our personal stylists.</span><br />
   				<span class="hero_bodytxt_italic">Play designer dress up</span><span class="hero_bodytxt">with a collection curated just for you.</span>
   			</div>
   			<a id="makeApptBtn_lrg" class="btn" href="/pages/showroom_bookappt" >
   				Make An Appointment
   			</a>
   		</div><!-- END: Make An Appointment Info Block -->
   </div>

   <div class="hiw_txtbanner">
   		<img src="//cdn.rtrcdn.com/sites/default/files/images/showroom/showroomLP_2013-hiw_banner.jpg" />
   </div>


   <!-- START: HOW OUR SHOWROOM WORKS - diamond icons -->
   <div id="hiw_icons_wrapper_ALL">

   		<!-- Make an Appointment -->
   		<div class="icon_wrapper">
   			<img class="icon" src="//cdn.rtrcdn.com/sites/default/files/images/showroom/showroomLP_2013-hiw_icon1.png" />
   			<span class="icon_headtxt">Make An Appointment</span>
   			<span class="icon_bodytxt">
   				We require a small deposit to hold your<br />
   				appointment. Don't worry - it's credited to<br />
   				your account to use toward your order!</span>
   		</div>

   		<!-- Make an Appointment -->
   		<div class="icon_wrapper">
   			<img class="icon" src="//cdn.rtrcdn.com/sites/default/files/images/showroom/showroomLP_2013-hiw_icon2.png" />
   			<span class="icon_headtxt">Get Styled</span>
   			<span class="icon_bodytxt">
   				We will email you a short style<br />
   				assessment that will help your<br />
   				stylist dress you to perfection.</span>
   		</div>

   		<!-- Make an Appointment -->
   		<div class="icon_wrapper">
   			<img class="icon" src="//cdn.rtrcdn.com/sites/default/files/images/showroom/showroomLP_2013-hiw_icon3.png" />
   			<span class="icon_headtxt">Visit Our Soho Showroom</span>
   			<span class="icon_bodytxt">
   				Try on your personally curated<br />
   				selection. Find the perfect look and<br />
   				book your rental on the spot.</span>
   		</div>

   </div> <!-- END: HOW OUR SHOWROOM WORKS - diamond icons -->


   <!-- START: MAKE AN APPOINTMENT - SOHO SHOWROOM -->
   <div id="makeAnAppt_block">
   		<div id="contact_wrapper">
   			<div class="soho_showroom">
   				Soho<br />
   				Showroom
   			</div>
   			<div class="contact_info">
   				<span class="contact_headtxt">ADDRESS</span>
   				<span class="contact_bodytxt">163 Varick Street, 4th Floor</span>
   			</div>
   			<div class="contact_info">
   				<span class="contact_headtxt">HOURS</span>
   				<span class="contact_bodytxt">
   					Mon–Fri: 12pm–8pm EST<br />
					Sat & Sun: 10am–6pm EST
   				</span>
   			</div>
   			<div class="contact_info">
   				<span class="contact_headtxt">CONTACT</span>
   				<span class="contact_bodytxt">
   					800.509.0842 or<br />
   					showroom@renttherunway.com
   				</span>
   			</div>

   			<!-- Make An Appointment -->
   			<div>
	   			<a id="makeApptBtn_med" class="btn" href="/pages/showroom_bookappt" title="Hi Ashley">
					Make An Appointment
				  </a>
			   </div>
   		</div>

   		<!-- mosaic of pics - 7px white spacing -->
   		<img src="//cdn.rtrcdn.com/sites/default/files/images/showroom/showroomLP_2013-mosaic.jpg" />

   </div><!-- END: MAKE AN APPOINTMENT - SOHO SHOWROOM -->

</div><!-- end of page block -->
